#main-nav-bar {
    height: 10vh;

    background-color: #343434;
    border-bottom: 10px solid #000E49;
}

#navbar-brand {
    color: whitesmoke;
}

#navbar-toggle {
    color: rgba(245, 245, 245, 0.417);
    border: none;
}

#offcanvasNavbar {
    background-color: #343434;
}

#dropdown-divider {
    color: whitesmoke;
}

a.offscreen-nav-link.nav-link {
    text-decoration: none;
    color: rgb(142, 164, 186);

    font-weight: bolder;
}

h5 #offcanvasNavbarLabel {
    color: whitesmoke;
}